h1, h2, h4 {
font-family: Helvetica, sans-serif;
color: grey;
padding: 10px;
}

h2 {
margin-top: 10px;
margin-bottom: 10px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  }

nav {
font-family: sans-serif;
font-size: 18px;
padding: 5px;
}

nav ul {
  list-style-image: url("arrow.png");
  list-style-type: none;  /* Remove default bullet points */
}

nav li {
  padding: 5px;
}

nav a {
  text-decoration: none;  /* Remove underline from links */
  color: #333;
  padding: 5px 5px;
}

.test-regex{
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.test-regex input {
  width: 400px;
  margin-right: 5px;
  overflow: auto;
}

.test-string {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.test-string label {
  vertical-align: top;
}

.test-string textarea {
  width: 400px;
  height: 100px;
  overflow: auto;
}

.found-matches {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.found-matches label {
  vertical-align: top;
}

.found-matches textarea {
  width: 400px;
  height: 100px;
  margin-right: 5px;
  overflow: auto;
}

.code, .string{
font-family: "Courier New", Consolas, monospace;
font-weight: 'bold';
background-color: #ecf0f3;
}

.string {
color: #008000;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color:  #f9f9f9;
  font-family: Helvetica, sans serif;
}
