{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static',  filename='python.svg') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Regex4Python</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav"> 
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('reference') }}"><b>Quick reference</b></a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

<h1 id="checking">Check your regex</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="arguments">
    <div class="test-regex">
      <p>
        Enter the regular expression to check:<br>
        {{ form.regex(size=50) }}
      </p>
    </div>
    <div class="flags">
      {{ form.flag_ignorecase }}
      <label for="flag_ignorecase">IGNORECASE</label><br>
      {{ form.flag_multiline }}
      <label for="flag_multiline">MULTILINE</label><br>
      {{ form.flag_dotall }}
      <label for="flag_dotall">DOTALL</label><br>
    </div>
  </div>
  <div class="texts">
  <div class="test-string">
    <p>Enter the text to search for matches:<br>
    {{ form.test_string}} 
  </p>
  <p>{{ form.submit() }}</p>
</div>
</form>
<div class="match-result">
  <p>Match highlights:</p>
  {{ match_result | safe }} <!-- using '|safe' argument to render as html code-->
</div>
</div>
<div class="infos">
  <div class="match-list">
  <p>Match info:</p>
    <b>Flag(s) in effect:</b> {% if flags %} {{ flags }} {% else %} <i>None.</i> {% endif %} <br>
    <b>Number of matches:</b> {{ num_matches }}
  <ol>
    {% for match in match_list %}
    <li>span= {{ match[0] }}, match= <span class="unit-match">"{{ match[-1] }}"</span></li>
    {% endfor %}
  </ol>
  </div>
  <div class="captures">
      <p>Match captures:</p>
      {% if captures %}
        {% for capture in captures %}
        Match {{ capture[1] }}
          <ol>
            {% for groups in capture[0] %}
            <li>
              {% for group in groups %}
                {{ group }}
              {% endfor %}
            </li>
            {% endfor %}
          </ol>
        {% endfor %}
      {% else %}
      <i>No captures.</i>
      {% endif %} 
  </div>
</div>

{% endblock %}